@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  font-family: 'Roboto Mono', monospace;
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}