:root {
  --primary-color: #75f1ff;
  --secondary-color: #5D7BE9;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 .8);
  --orangeCard: rgba(252 166 31 0.45);
  --smBoxShadow: -79px 51px 60px rgba(0 0 0 0.08);
}